.grid {
  display: flex;
  flex-direction: column;
  margin: 14px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  width: 8vmin;
  height: 8vmin;
  margin: 1px;
  font-size: 6vmin;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 2px;


  &.empty {
    background-color: var(--c-secondary);
  }

  &.solved {
    background-color: var(--c-accent);
    color: var(--c-primary);
  }
}