:root {
  --c-primary: #30404F;
  --c-secondary: #4C5A67;
  --c-tertiary: #FBE8BA;
  --c-accent: #C3E769;
  --c-white-50: rgba(255,255,255,.5);
  --c-white-10: rgba(255,255,255,.1);
  --c-white-100: #ffffff;
  --c-black-10: rgba(0,0,0,.1);
}