:root {
  --c-primary: #404F30;
  --c-secondary: #5A674C;
  --c-tertiary: #E8BAFB;
  --c-accent: #E769C3;
  --c-accent2: #E769E3;
  --c-white-50: rgba(255,255,255,.5);
  --c-white-10: rgba(255,255,255,.1);
  --c-white-100: #ffffff;
  --c-black-10: rgba(0,0,0,.1);
}
