body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.boxard-row:after {
  clear: both;
  content: "";
  display: table;
}

.cell {
    display: block;
    text-transform: uppercase;
    font-size: 7vmin;
    text-align: center;
    margin: -2px;
    height: 8vmin;
    width: 8vmin;
    overflow: visible;
    padding: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.cell.empty, .cell.solved{
    border: 2px solid #999;
}

.cell.available {
    border: 2px solid #999;
    display: inline-block;
    margin-left: 5px;
}
.cell.void {
    background: #ddd;
    border: 2px solid #ddd;
}

.cell.guessed {
    background: #f99;
}

.cell {
    text-transform: uppercase;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  //display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
